In [16]:
# 데이터 가져오기

raw_data = pd.read_csv('../../1. raw_data/KRI-DAC_Jeju_data5.txt', sep=',')
raw_data.tail()

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y
273178,273179,273179,202005,제주특별자치도,제주시,중소,침구수예점,x시,17000,0,1,0,949616.6171,1.502505e+06
273179,273180,273180,202005,제주특별자치도,제주시,중소1,서양음식,x시,12000,0,1,0,949665.1566,1.502805e+06
273180,273181,273181,202005,제주특별자치도,제주시,영세,편의점,x시,4800,0,1,0,950266.5976,1.502458e+06
273181,273182,273182,202005,제주특별자치도,제주시,중소,제과점,x시,25000,0,2,0,950524.6587,1.500760e+06
273182,273183,273183,202005,제주특별자치도,제주시,영세,서양음식,x시,6000,0,1,0,950674.5989,1.500760e+06

In [17]:
df = raw_data.copy()

In [18]:
from pyproj import Proj, transform

# ITRF좌표계
proj_ITRF = Proj(init='epsg:5179')
# WGS 좌표계 
proj_WGS84 = Proj(init='epsg:4326')

In [19]:
# 변환 예시 
x1, y1 = 961114.519726,1727112.269174
x2, y2 = transform(proj_ITRF, proj_WGS84, x1, y1)
x2, y2

(127.07103374451121, 35.53921546645965)

In [20]:
df['lon'], df['lat'] = transform(proj_ITRF, proj_WGS84, df['POINT_X'], df['POINT_Y'])
df.tail()

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y,lon,lat
273178,273179,273179,202005,제주특별자치도,제주시,중소,침구수예점,x시,17000,0,1,0,949616.6171,1.502505e+06,126.957495,33.513247
273179,273180,273180,202005,제주특별자치도,제주시,중소1,서양음식,x시,12000,0,1,0,949665.1566,1.502805e+06,126.958001,33.515956
273180,273181,273181,202005,제주특별자치도,제주시,영세,편의점,x시,4800,0,1,0,950266.5976,1.502458e+06,126.964496,33.512854
273181,273182,273182,202005,제주특별자치도,제주시,중소,제과점,x시,25000,0,2,0,950524.6587,1.500760e+06,126.967369,33.497551
273182,273183,273183,202005,제주특별자치도,제주시,영세,서양음식,x시,6000,0,1,0,950674.5989,1.500760e+06,126.968983,33.497564

In [21]:
################# 좌표 정보 주소 변환 ####################
import requests
import json

In [22]:
url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=126.968983&y=33.497564"
headers = {"Authorization": "KakaoAK 1fecb2a27219321b92e1464ad08365fb"}

In [23]:
api_test = requests.get(url, headers=headers)
url_text = json.loads(api_test.text)
url_text

{'meta': {'total_count': 2},
 'documents': [{'region_type': 'B',
   'code': '5011033021',
   'address_name': '제주특별자치도 제주시 우도면 연평리',
   'region_1depth_name': '제주특별자치도',
   'region_2depth_name': '제주시',
   'region_3depth_name': '우도면',
   'region_4depth_name': '연평리',
   'x': 126.9588510304104,
   'y': 33.50152515199191},
  {'region_type': 'H',
   'code': '5011033000',
   'address_name': '제주특별자치도 제주시 우도면',
   'region_1depth_name': '제주특별자치도',
   'region_2depth_name': '제주시',
   'region_3depth_name': '우도면',
   'region_4depth_name': '',
   'x': 126.95338133967611,
   'y': 33.5065180993215}]}

In [29]:
dongmyeon = url_text['documents'][0]['region_3depth_name']
ri = url_text['documents'][0]['region_4depth_name']

dongmyeon, ri

('우도면', '연평리')

In [35]:
df['lon'] = df['lon'].astype(str)
df['lat'] = df['lat'].astype(str)

In [38]:
df['url1'] = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=' + df['lon']
df['url2'] = '&y=' + df['lat']
df['url'] = df['url1'] + df['url2']

In [42]:
df.drop(columns=['url1','url2'],axis=1)

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y,lon,lat,url
0,1,1,202005,제주특별자치도,제주시,영세,일반한식,00시,363000,66500,10,2,877005.9834,1.479766e+06,126.17889362710162,33.30231529076243,https://dapi.kakao.com/v2/local/geo/coord2regi...
1,2,2,202005,제주특별자치도,제주시,영세,단란주점,00시,1180000,0,3,0,877005.7447,1.479816e+06,126.17888426813494,33.302765922881875,https://dapi.kakao.com/v2/local/geo/coord2regi...
2,3,3,202005,제주특별자치도,제주시,중소1,편의점,00시,157670,6850,20,2,877056.6756,1.479616e+06,126.17945834265305,33.30097125427593,https://dapi.kakao.com/v2/local/geo/coord2regi...
3,4,4,202005,제주특별자치도,제주시,영세,편의점,00시,46600,0,2,0,877055.9593,1.479766e+06,126.17943027296923,33.30232314934195,https://dapi.kakao.com/v2/local/geo/coord2regi...
4,5,5,202005,제주특별자치도,제주시,영세,주점,00시,66000,0,2,0,877055.4817,1.479866e+06,126.17941155823847,33.30322441283756,https://dapi.kakao.com/v2/local/geo/coord2regi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273178,273179,273179,202005,제주특별자치도,제주시,중소,침구수예점,x시,17000,0,1,0,949616.6171,1.502505e+06,126.95749518388968,33.51324665784147,https://dapi.kakao.com/v2/local/geo/coord2regi...
273179,273180,273180,202005,제주특별자치도,제주시,중소1,서양음식,x시,12000,0,1,0,949665.1566,1.502805e+06,126.95800093548306,33.51595579736336,https://dapi.kakao.com/v2/local/geo/coord2regi...
273180,273181,273181,202005,제주특별자치도,제주시,영세,편의점,x시,4800,0,1,0,950266.5976,1.502458e+06,126.96449620673,33.51285447500652,https://dapi.kakao.com/v2/local/geo/coord2regi...
273181,273182,273182,202005,제주특별자치도,제주시,중소,제과점,x시,25000,0,2,0,950524.6587,1.500760e+06,126.96736859949111,33.497550664200574,https://dapi.kakao.com/v2/local/geo/coord2regi...
273182,273183,273183,202005,제주특별자치도,제주시,영세,서양음식,x시,6000,0,1,0,950674.5989,1.500760e+06,126.96898269451708,33.49756408518746,https://dapi.kakao.com/v2/local/geo/coord2regi...