```
YM: 기준년월
SIDO: 지역대분류명 (제주)
SIGUNGU: 지역중분류명 (시)
FranClass: 소상공인구분
Type: 업종명
Time: 시간대
TotalSpent: 총 사용금액
DisSpent: 재난지원금 사용금액
NumofSpent: 총 이용건수
NumofDisSpent: 총 재난지원금 이용건수
POINT_X, POINTY: X,Y 좌표
```

In [2]:
may = pd.read_csv('./datas/KRI-DAC_Jeju_data5.txt', sep=',')
may

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y
0,1,1,202005,제주특별자치도,제주시,영세,일반한식,00시,363000,66500,10,2,877005.9834,1.479766e+06
1,2,2,202005,제주특별자치도,제주시,영세,단란주점,00시,1180000,0,3,0,877005.7447,1.479816e+06
2,3,3,202005,제주특별자치도,제주시,중소1,편의점,00시,157670,6850,20,2,877056.6756,1.479616e+06
3,4,4,202005,제주특별자치도,제주시,영세,편의점,00시,46600,0,2,0,877055.9593,1.479766e+06
4,5,5,202005,제주특별자치도,제주시,영세,주점,00시,66000,0,2,0,877055.4817,1.479866e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273178,273179,273179,202005,제주특별자치도,제주시,중소,침구수예점,x시,17000,0,1,0,949616.6171,1.502505e+06
273179,273180,273180,202005,제주특별자치도,제주시,중소1,서양음식,x시,12000,0,1,0,949665.1566,1.502805e+06
273180,273181,273181,202005,제주특별자치도,제주시,영세,편의점,x시,4800,0,1,0,950266.5976,1.502458e+06
273181,273182,273182,202005,제주특별자치도,제주시,중소,제과점,x시,25000,0,2,0,950524.6587,1.500760e+06
273182,273183,273183,202005,제주특별자치도,제주시,영세,서양음식,x시,6000,0,1,0,950674.5989,1.500760e+06

In [10]:
may.groupby(['SIGUNGU', 'FranClass']).size().to_frame()

                        0
SIGUNGU FranClass
서귀포시    영세          45379
        일반          10335
        중소           9402
        중소1          8418
        중소2          4774
제주시     영세         106915
        일반          25554
        중소          23809
        중소1         24396
        중소2         14201

In [18]:
may['Type'].unique()

array(['일반한식', '단란주점', '편의점', '주점', '스넥', '서양음식', '일식회집', '기타음료식품', '노래방',
       '중국음식', '슈퍼마켓', '유흥주점', '기타숙박업', '기타레져업', '당구장', '농축수산품', '유아원',
       '골프경기장', '세탁소', '가방', '콘도', '주차장', '문화취미기타', '주유소', '사무서비스',
       '자동차정비', '특급호텔', '볼링장', '화장품', '기타회원제형태업소', '주류판매점', '제과점',
       '피부미용실', '약국', '칵테일바', '정육점', '독서실', '스포츠레져용품', '골프용품', 'LPG',
       '종합병원', '사우나', '화원', '의원', '안마스포츠마사지', '골프연습장', '2급호텔', '기타대인서비스',
       '보습학원', '부동산분양', '화물운송', '애완동물', '동물병원', '대형할인점', '인터넷Mall', '항공사',
       '헬스크럽', '기타유통업', '레져용품수리', '정장', '레져업소(회원제형태)', '관광여행', '1급호텔',
       '침구수예점', '사진관', '악세사리', '보관창고업', '기념품점', '미용원', '영화관', '의료용품',
       '세차장', '인터넷종합Mall', '기타잡화', '성인용품점', '상품권', '종합용역', '기계공구',
       '조세서비스', '택시', '기타의료기관및기기', '가례서비스', '구내매점', '수영장', '목재석재철물',
       '건축요업품', '기타업종', '렌트카', '종합레져타운', '유류판매', '농축협직영매장', '기타건축자재',
       '비료농약사료종자', '농기계', '보일러펌프', '가전제품', '스포츠의류', '페인트', '미곡상',
       '기타농업관련', '기타가구', '공공요금', '기능학원', '면세점', '기타교육', '위탁급식업', '이용원',
       '조명기구', '문구용품', '인테리어', '민예공예품', '기타연료', '자동차부품', '기타용역서비스',
       '기타운송', '연쇄점', '옷감직물', '한의원', '주방용식기', '카인테리어', '기타수리서비스',
       '농협하나로클럽', '기타건강식', '티켓', '기타전기제품', '일반서적', '외국어학원', '건강진단',
       '냉열기기', '소프트웨어', '내의판매점', '주방용구', '완구점', '유리', '자동차시트타이어',
       '카페트커텐천막', '기타교통수단', '테니스장', '치과의원', '신발', '기타의류', '컴퓨터', '병원',
       '가정용품수리', '단체복', '아동의류', '일반가구', '출판인쇄물', '치과병원', '서적출판(회원제형태)',
       '카메라', '정수기', 'CATV', '기타사무용', '학원(회원제형태)', '이륜차판매', '철제가구',
       '산후조리원', '견인서비스', '수족관', '양품점', '시계', '안경', '인삼제품', '홍삼제품', '한약방',
       '중장비수리', '캐쥬얼의류', '과학기자재', '윤활유전문판매', '부동산중개임대', '여객선', '통신기기',
       '귀금속', '건강식품(회원제형태)', '사무기기', '신변잡화수리', '미용재료', '예체능학원', '기타보험',
       '사무통신기기수리', '법률회계서비스', '맞춤복점', '전문서적', '화방표구점', '손해보험', '악기점',
       '기타자동차서비스', '정기간행물', '기타비영리유통', '화랑', '컴퓨터학원', '중고자동차', '제화점',
       '대학등록금', '기타서적문구', '학습지교육', '수입자동차', '기타직물', 'DVD음반테이프판매', '기타광학품',
       '제약회사', '초중고교육기관', '사무서비스(회원제형태)', '골동품점'], dtype=object)

In [11]:
june = pd.read_csv('./datas/KRI-DAC_Jeju_data6.txt', sep=',')
june

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y
0,1,1,202006,제주특별자치도,제주시,영세,일반한식,00시,502000,0,10,0,877005.9834,1.479766e+06
1,2,2,202006,제주특별자치도,제주시,영세,단란주점,00시,1520000,0,8,0,877005.7447,1.479816e+06
2,3,3,202006,제주특별자치도,제주시,중소1,편의점,00시,482310,0,35,0,877056.6756,1.479616e+06
3,4,4,202006,제주특별자치도,제주시,영세,편의점,00시,38050,5450,3,1,877055.9593,1.479766e+06
4,5,5,202006,제주특별자치도,제주시,영세,일반한식,00시,32000,32000,1,1,877055.4817,1.479866e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281891,281892,281892,202006,제주특별자치도,제주시,영세,일반한식,x시,175000,0,2,0,950274.0385,1.500908e+06
281892,281893,281893,202006,제주특별자치도,제주시,영세,일반한식,x시,600000,0,2,0,950266.5976,1.502458e+06
281893,281894,281894,202006,제주특별자치도,제주시,영세,편의점,x시,6300,0,1,0,950266.5976,1.502458e+06
281894,281895,281895,202006,제주특별자치도,제주시,중소,제과점,x시,15000,0,2,0,950524.6587,1.500760e+06
281895,281896,281896,202006,제주특별자치도,제주시,중소1,중국음식,x시,15000,0,1,0,950574.6388,1.500760e+06

In [12]:
june.groupby(['SIGUNGU', 'FranClass']).size().to_frame()

                        0
SIGUNGU FranClass
서귀포시    영세          45551
        일반          11913
        중소           9609
        중소1          8547
        중소2          4897
제주시     영세         108986
        일반          28891
        중소          24234
        중소1         24793
        중소2         14475

In [13]:
july = pd.read_csv('./datas/KRI-DAC_Jeju_data7.txt', sep=',')
july.head()

,OBJECTID,Field1,YM,SIDO,SIGUNGU,X,Y,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y
0,1,1,202007,제주특별자치도,제주시,230600,80000,영세,일반한식,00시,85500,0,4,0,877005.9834,1.479766e+06
1,2,2,202007,제주특별자치도,제주시,230600,80050,영세,단란주점,00시,1960000,0,4,0,877005.7447,1.479816e+06
2,3,3,202007,제주특별자치도,제주시,230650,79850,중소1,편의점,00시,475650,0,43,0,877056.6756,1.479616e+06
3,4,4,202007,제주특별자치도,제주시,230650,80000,영세,편의점,00시,15650,0,1,0,877055.9593,1.479766e+06
4,5,5,202007,제주특별자치도,제주시,230650,80100,영세,주점,00시,82500,0,1,0,877055.4817,1.479866e+06

In [14]:
july.groupby(['SIGUNGU', 'FranClass']).size().to_frame()

                        0
SIGUNGU FranClass
서귀포시    영세          50462
        일반           6216
        중소          10472
        중소1          8944
        중소2          5249
제주시     영세         119231
        일반          13993
        중소          26970
        중소1         26633
        중소2         16095

In [15]:
august = pd.read_csv('./datas/KRI-DAC_Jeju_data8.txt', sep=',')
august.head()

,OBJECTID,Field1,YM,SIDO,SIGUNGU,FranClass,Type,Time,TotalSpent,DisSpent,NumofSpent,NumofDisSpent,POINT_X,POINT_Y
0,1,1,202008,제주특별자치도,제주시,영세,일반한식,00시,249500,0,7,0,877005.9834,1.479766e+06
1,2,2,202008,제주특별자치도,제주시,영세,단란주점,00시,2010000,0,7,0,877005.7447,1.479816e+06
2,3,3,202008,제주특별자치도,제주시,중소1,편의점,00시,401210,0,41,0,877056.6756,1.479616e+06
3,4,4,202008,제주특별자치도,제주시,영세,편의점,00시,12250,0,1,0,877055.9593,1.479766e+06
4,5,5,202008,제주특별자치도,제주시,영세,주점,00시,33000,0,1,0,877055.4817,1.479866e+06

In [17]:
august.groupby(['SIGUNGU', 'FranClass', 'Type']).size().to_frame()

                          0
SIGUNGU FranClass Type
서귀포시    영세        2급호텔   27
                  LPG    22
                  가례서비스   1
                  가방     19
                  가전제품   73
...                      ..
제주시     중소2       한의원    45
                  헬스크럽   48
                  화물운송   30
                  화원     39
                  화장품    96

[1259 rows x 1 columns]

```
재난지원금 어디서 어떤 시간대에 많이 사용되고 있는지?
재난지원금 사용 비율
좌표 이용해서 업종 위치? 분포?
```